<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #417690;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #f5dd5d;">TeamCRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                </li>
                {% if request.resolver_match.view_name != 'addRecord' %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'addRecord' %}">Add Contact</a>
                </li>
                {% endif %}
            </ul>
                <form class="d-flex" method="POST" action="{% url 'search_record' %}">
                  {% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{search}}" name="search">
                  <button class="btn btn-light" type="submit">Search</button>
                </form>
        {% endif %}
      </div>
    </div>
  </nav>