{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <br/>
    <h3>Search results</h3>
    <br/>
    <br/>
    {% if results %}
        <table class="table table-success table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">state</th>
                <th scope="col">Zipcode</th>
                <th scope="col">ID</th>
              </tr>
            </thead>
            <tbody>
        {% for result in results %}
              <tr>
                <td><a href="{% url 'single_record' result.id%}">{{result.first_name}} {{result.last_name}}</a></td>
                <td>{{result.email}}</td>
                <td>{{result.phone}}</td>
                <td>{{result.address}}</td>
                <td>{{result.city}}</td>
                <td>{{result.state}}</td>
                <td>{{result.zipcode}}</td>
                <td>{{result.id}}</td>
              </tr>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>No contact found</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {% endif %}
            </tbody>
        </table>
{% endif %}
{% endblock %}